.project__content {
  height: 90vh;
  padding: 5px 10vw;
}

.project__wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
}

.project__box {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  background-color: #27272c;
}
